:root {
    --neon-green: rgb(188, 251, 62);
}

body {
    background-color: white;
    color: black;
    font-family: "comic sans ms";

}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    background-color: var(--neon-green);
    align-items: center;
    justify-content: space-between;
    width: 97vw;

}

.nav-footer {
    align-items: center;
    width: 20%;
}

.btn {
    margin: 0px;
    background-color: lightgray;
}

.nav-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250%;

}

.nav-input {
    text-align: center;
    font-family: "comic sans ms";
    color: black;
    font-size: 1.25rem;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;

}

.border {
    border: 2px solid black;
    border-radius: 10px;
}

.cart-main {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 50vw;
    height: 30vh;
    margin-top: 12.5rem;
}

.h-card-container {
    background-color: var(--neon-green);
    margin: 10px;
    display: flex;
    width: 50%;
    height: 80%;

}

.h-card-img {
    margin: 10px;
}

.card-txt {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quant-input {
    width: 25%;
    margin: 5px;
    text-align: center;
    color: black;
}

.small-btn {
    background-color: lightgray;
    border: 0.5px solid black;
    border-radius: 10px;
    width: 100%;
}

.wishlist-btn {
    margin-left: 7.5px;
}

.details {
    background-color: var(--neon-green);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    height: 80%;

}

.details-txt {
    margin: 5px;
    display: flex;
    justify-content: space-between;

}

.minus-btn {
    border-radius: 50%;
    border: 0.5px solid black;
    background-color: lightgray;
}

.plus-btn {
    border-radius: 50%;
    border: 0.5px solid black;
    background-color: lightgray;
}